{% extends "base.html.twig" %}

{% block body %}
<div class="text-center mt-3">
    <h2>Les derniers Actualites</h2>
    <div class="row flex justify-content-center w-100">
        
        <div class="col-10 mt-5">
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0 bg-transparent">
                    <img src="/images/Logo.jpg" alt="Card image cap" style="width: 100px;">
                </div>               
                <div class="card-body pt-1">                   
                    <h5 class="card-title">
                        Test
                    </h5>
                    <p class="card-text pt-2 text-left">Description de l'evenement</p>
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock body %}
