{% extends "base.html.twig" %}

{% block body %}
<div class="text-center mt-3">
    <h2>Produits locaux</h2>
    <div class="row flex justify-content-center w-100">
        
        <div class="col-10 mt-5">
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0 bg-transparent">
                    <img src="/images/madeleine.jpg" alt="Card image cap" style="width: 300px;">
                </div>
                <div class="card-body pt-5">
                    <h1 class="card-title">La Madeleine de Commercy</h1>
                </div>             
                <div class="card-body">           
                    <p class="card-text">Chère à Marcel Proust qui avait pour habitude de la tremper dans sa tasse de thé afin de retrouver les parfums de son enfance, on raconte que la madeleine est née en 1755 à la cour de Stanislas, Duc de Lorraine et roi de Pologne. Ce biscuit en forme de conque surmontée d’une petite rondeur blonde, appelée «boudotte», fut inventé par Madeleine, jeune soubrette du Duc.</p>
                    <p class="card-text">En 1755, Stanislas, roi de Lorraine, reçoit. Mais au cours du repas, on lui apprend que son pâtissier, fâché à la suite d’une querelle, a rendu son tablier. Un repas sans dessert ne peut se concevoir. Le majordome se fait fort de sauver le roi de ce déshonneur, pourvu qu’on lui laisse quelque temps. Pendant que la société s’amuse de jeux, de récits, se divertit du nain Ferry qui sort d’un pâté géant, on s’affaire à l’office. Et voici le dessert. On apporte aux invités des gâteaux d’une forme originale, dorés, et fondants... Une merveille !</p>
                    <p class="card-text">Ravi, le roi fait venir l’auteur de ce miracle : on lui présente une jeune et jolie servante, rose de confusion et les mains encore blanches de farine...</p>
                    <p class="card-text">- «Comment s’appelle ce chef-d’oeuvre ?»</p>
                    <p class="card-text">- «Il n’a pas de nom, sire ; c’est ce que l’on fait chez moi, à Commercy, les jours de fête.»</p>
                    <p class="card-text">- «Et quel est ton nom ?»</p>
                    <p class="card-text">- «Madeleine»</p>
                    <p class="card-text">- « Eh bien, il s’appellera comme toi : Madeleine de Commercy».</p>
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock body %}
