.home-e1{
    background-image: url(../images/commercy.jpg);
    background-size: cover;
    background-position: center 80%;
    height: 350px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.home-e1>h1 {
    margin: auto;
    color: white;
}

.navbar-link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.produit-title{
    padding-top: 100px;
}

.card-element{
    color: white;
}

.hr-element{
	background-color: white;
    align-self: center;
    height: 1px;
    width: 75%;
}

.mapboxgl-popup-content{
    min-width: 265px !important;
}

#menu {
    position: absolute;
    z-index: 1 ;
    background: rgb(49, 42, 42);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#map {
    position: absolute;
    width: 100%;
    min-height: 100%;
}